@media only screen and (max-width:1400px){
    .about_inner_content h3{
        font-size: 26px;
    }
    .about_inner_content {
        bottom: -186px;
    }    
}
@media only screen and (max-width:1300px){
    .about_inner_content{
        bottom: 0;
        min-height: 350px;
    }
    .service-card h3{
        font-size: 18px;
    }
}
@media only screen and (max-width:1024px){
    .ft-heading {
        font-size: 22px;
        line-height: 40px;
    }
}
@media only screen and (max-width:991px){
    header .navbar-nav{
        align-items: center;
    }
    .footer_wrap{
        gap: 15px;
    }
    .footer_wrap .footer_col{
        width: 48%;
    }
    .about-container .about_item{
        width: 50%;
    }
    .about_inner_content{
        min-height: 200px;
    }
    .section-contact .map_wrap iframe{
        height:400px;
    }
}
@media only screen and (max-width:768px){
    .topbar .topbar-contact a:nth-child(2){
        display: none;
    }
    .topbar-contact{
        width: 100%;
        justify-content: space-between;
    }
    .banner-h1 {
        font-size: 40px;
        line-height: 50px;
        max-width: 100%;
    }
}
@media only screen and (max-width:600px){
    .about-container .about_item{
        width: 100%;
    }
}
@media only screen and (max-width:575px){
    .banner-h1 {
        font-size: 35px;
        line-height: 40px;
        max-width: 100%;
    }
    .footer_wrap .footer_col{
        width: 100%;
    }
    .sec-heading h2{
        font-size: 30px;
    }
    .sec-heading p {
        font-size: 18px;
        line-height: 29px;
    }    
    header .navbar-brand{
        font-size: 24px;
    }
}
@media only screen and (max-width:450px){
    header .navbar-brand{
        font-size: 18px;
    }
    footer .navbar-brand{
        white-space: break-spaces;
    }
}
@media only screen and (max-width:425px){
    .banner-h1{
        font-size: 29px;
    }   
}
@media only screen and (max-width:345px){
    header .navbar-brand{
        font-size: 15px;
    }
    .banner-h1{
        word-break: break-all;
    }
}