@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav {
        gap: 10px;
    }
}
@media only screen and (max-width:1200px){
    .navbar-brand{
        font-size: 25px;
    }
    header .navbar-nav .nav-item .nav-link{
        padding-left: 5px;
        padding-right: 5px;
    }
    header .navbar .container{
        max-width: 1000px;
    }
}
@media only screen and (max-width:1024px){
    .ft-heading {
        font-size: 22px;
        line-height: 40px;
    }
}
@media only screen and (max-width:991px){
    header .navbar-nav{
        align-items: center;
        /* background-image: linear-gradient(135deg, #000009, #4d1567); */
        background: linear-gradient(135deg, #2b08ca, #fffdfd) !important;
        border-radius: 6px;
        margin-top: 15px;
        padding-bottom: 15px;
    }
    .footer_wrap{
        gap: 15px;
    }
    .footer_wrap .footer_col{
        width: 48%;
    }
    .about-container .about_item{
        width: 50%;
    }
    .about_inner_content{
        min-height: 200px;
    }
    .section-contact .map_wrap iframe{
        height:400px;
    }
    .content{
        max-width: 100%;
        text-align: center;
    }
}
@media only screen and (max-width:768px){
    .banner-h1 {
        font-size: 40px;
        line-height: 50px;
        max-width: 100%;
    }
    .carousel-item .caption-head .banner-image{
        width: 300px !important;
        top: 100%;
    }
    #customers-testimonials .item{
        padding: 0;
    }
    .full-width-section .sec-heading h2{
        font-size: 30px;
        line-height: 42px;
    }
}
@media only screen and (max-width:600px){
    .content_box_wrapper p{
        font-size: 16px;
    }
    .content h2 {
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 700;
    }
}
@media only screen and (max-width:575px){
    .banner-h1 {
        font-size: 35px;
        line-height: 40px;
        max-width: 100%;
    }
    .footer_wrap .footer_col{
        width: 100%;
    }
    .sec-heading h2{
        font-size: 30px;
    }
    .sec-heading p {
        font-size: 18px;
        line-height: 29px;
    }    
    header .navbar-brand{
        font-size: 24px;
    }
    .sec-image{
        width: 100%;
    }
    .sec-image img{
        object-fit: contain;
    }
    .numbering {
        min-width: 24px;
        height: 24px;
        background-color: transparent;
        font-family: var(--theme-theme-family);
        font-weight: bold;
        font-size: 10px;
        line-height: 12px;
    }
    .accordion-button {
        padding: 20px 8px;
    }
}
@media only screen and (max-width:450px){
    header .navbar-brand{
        font-size: 18px;
    }
    footer .navbar-brand{
        white-space: break-spaces;
    }
    #customers-testimonials .shadow-effect p{
        font-size: 20px;
        line-height: 30px;
    }
    .full-width-section .sec-heading h2{
        font-size: 21px;
        line-height: 35px;
    }
}
@media only screen and (max-width:425px){
    .banner-h1{
        font-size: 29px;
    }   
}
@media only screen and (max-width:345px){
    header .navbar-brand{
        font-size: 15px;
    }
    .banner-h1{
        word-break: break-all;
    }
}